.header {
  align-items: center;
  background: #0da774;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.header a {
  text-decoration: none;
}


.header__text {
   font-size: 35px;
   margin-left: 15px;
   font-family: Zhi Mang Xing, cursive;
   color: white;
  display: unset;
}

.header__img {
  margin-left: 30px;
  width: 70px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin: 0 15px;
  color: white;
}

.header__menu--profile a{
  color: white;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}
